<button id="btn__Cerrar" onclick="carritoController.cerrarCarrito()"><img src="../img/otros/cerrar.svg" alt=""></button>
{{#if carrito.length}}
    <table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Marca</th>
            <th>Foto</th>
            <th>Cantidad</th>
            <th>Envio</th>
        </tr>

        {{#each carrito}}
        <tr>
            <td>{{nombre}}</td>
            <td>{{precio}}</td>
            <td>{{marca}}</td>
            <td>
                <img style="display: block; margin: 0 auto;" src="{{foto}}" alt="{{nombre}}" width="50">
            </td>
            <td>{{cantidad}}</td>

            {{#if envio}}
                <td>Si</td>
            {{else}}
                <td>No</td>
            {{/if}}

            <td>
                <button id="btn__borrar" onclick="carritoController.borrarProductoCarrito('{{id}}')"><img src="../img/otros/borrar.svg" alt="borrar"></button>
            </td>
        </tr>
        {{/each}}
    </table>

    <p id="precioFinal"></p>
    <button class="btn__enviarCarrito" onclick="carritoController.enviarCarrito()"><img src="../img/otros/enviar.svg" alt="enviar"> Enviar</button>
{{else}}
    <h2 style="height: 80px;">El carrito está vacío</h2>
{{/if}}

